@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body {
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

body.dark-mode{
    background-color: black;
    color: white;
}

body.light-mode{
    background-color: white;
    color: black;
}
/* Estilos para el modo oscuro */
.dark-mode a {
    color: #ffffff; /* Cambia el color de los enlaces en modo oscuro */
}
.dark-mode h1{
    color:cornsilk;
    font-family:cursive;
}
/* Estilos para el modo claro */
.light-mode a {
    color: #000000; /* Cambia el color de los enlaces en modo claro */
}
.dark-mode .login, .dark-mode .about, .dark-mode .register {
    color:antiquewhite;
    font-family:cursive;
    border: solid 2px antiquewhite;
    font-weight: 500;

}
.light-mode .login, .light-mode .about, .light-mode .register {
    color:lightslategray;
    font-family:cursive;
    border: solid 2px lightslategray;
    font-weight: 500;

}

.login {
    margin-right: 2rem;
}

ul {
    list-style: none;
}


main {
    padding: 2rem;
    margin: 1rem;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dark-mode footer{
    color:antiquewhite!important;

}

footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;

}

footer div a {
    text-decoration: none;
    padding: 2rem;
}


#contenedorBotonesUpDown {
    position: fixed;
    bottom: 6rem;
    left: 1rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    width: 4rem;
    height: fit-content;
}


.btnDown,
.btnUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;

}

.btnDown {
    border-radius: 0px 0px 16px 16px;
}

.btnUp {
    border-radius: 16px 16px 0px 0px;
}



.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 0;
}

/**detgalle */
.imagenDetalle1 {
    width: 70%;
}

.main2 {
    margin-top: 0;
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin: 1rem;
    gap: 1rem;


}

input {
    color: black;
    font-weight: 700;
}



@media(width>900) {
    .main2 {
        display: flex;
        flex-direction: row !important;
        justify-content: space-around;
        align-items: center;
    }

    .detalle1 {
        width: 25%;
        height: 100vh;
        flex-direction: column;
        order: 1;
    }

    .detalle3 {
        width: 70%;
        height: 100vh;
        width: 25%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        order: 2;
    }

    .detalle31 {
        width: 100%;
        height: 100vh;
        width: 25%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}



#toggleButton {
    width: 3rem;
    height: 3rem;
    padding: 6px 0px;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    position: fixed;
    top: 20rem;
    right: 3rem;
    background-image: url('../img/circle-half-stroke-solid.svg');
    background-size: cover;
    background-repeat: repeat;
}


/* boton toggle dark-light*/
#toggleButton {
    font-size: larger;
}



#toggleButton {
    z-index: 1500;
}


@media(width <450px) {

    #toggleButton {
        display: none;
    }
}

@media(width>900px) {
    #footer {
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    F#footer div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 40%;
    }

}