

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: initial;
}

ul {
    list-style: none;
}
.dark{
    background-color: darkviolet;
    color:white;
}

main{
    padding:2rem;
    margin:1rem;
}
.iamgenF{
}
.cards {}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.imagenDetalle1{
    width:70%;
}
.main2{
    margin-top: 0;
}

.buttonsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin: 1rem;
    gap:1rem;

    
}
.bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }
 input{
    color:black;
    font-weight: 700;
 }
@media(width<800){
    .bd-mode-toggle{
        display: none;
    }
}